<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>微微在线下载</title>
</head>

<body>
    <h1 style="text-align: center;">微微在线下载能力列表</h1>
    <table border="1" style="width: 100%;">
        <thead>
            <td>功能</td>
            <td>url</td>
            <td>参数</td>
            <td>说明</td>
        </thead>
        <tbody>
            <tr>
                <td>获取下载列表</td>
                <td><a href="/list" target="_blank">/list</a></td>
                <td>无</td>
                <td>无</td>
            </tr>
            <tr>
                <td>下载资源</td>
                <td><a href="/downloadFile?name=&url=" target="_blank">/downloadFile</a></td>
                <td>?name=&url=</td>
                <td>下载的名称和资源路径</td>
            </tr>
            <tr>
                <td>删除资源</td>
                <td><a href="/delete?id=" target="_blank">/delete</a></td>
                <td>?id=</td>
                <td>需要删除的资源id</td>
            </tr>
        </tbody>
    </table>
</body>

</html>